<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Mocha Tests</title>
  <link rel="stylesheet" href="/node_modules/mocha/mocha.css">

  {{! Include globals }}
  {{! <script src="/assets/components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script> }}
  {{! <script>var _gaq=[]</script> }}
</head>
<body>
  {{! Required for browser reporter }}
  <div id="mocha"></div>

  {{! mocha }}
  <script src="/node_modules/mocha/mocha.js"></script>
  <script>
    // This will be overridden by mocha-helper if you run with grunt
    mocha.setup({ui: 'bdd', ignoreLeaks: true})
  </script>
  {{! assertion lib }}
  <script src="/node_modules/chai/chai.js"></script>
  {{! <script src="/node_modules/chai-jquery/chai-jquery.js"></script> }}
  <script src="/test/fixtures/main.compiled.js"></script>

  {{#each specs}}
    <script src="/{{this}}"></script>
  {{/each}}

  <script>
    /*global chai, mocha */
    'use strict';
    // Setup chai
    chai.should()
    {{! mocha.run() }}
  </script>
  {{!
       IMPORTANT
       If you do not want to set the `run` option to `true` for some reason
       and are not using AMD, you must include the bridge.js file
       in the `phantomjs` folder after you include `mocha.js`
  }}
  {{! <script src="/node_modules/grunt-mocha/phantomjs/bridge.js"></script> }}
</body>
</html>
